.sidebar {
  height: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-left: 3px;
}
.wrapperparent {
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
}
.title {
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  height: 20vh;
}
.btn {
  width: 100%;
  font-size: 25px;
  padding: 15px 50px 15px;
  background-color: transparent;
  text-align: left;
}

.menu {
  height: 62vh;
  overflow-y: auto;
}
.hr {
  height: 1px;
  width: 100%;
  background-color: #d7d5d5;
}
.info {
  font-size: 30px;
  width: 100%;
  padding: 30px 0px;
  width: 290px;
  height: 68px;
  background-color: transparent;
}
.infoIcon {
  margin-right: 15px;
  padding-top: 3px;
}
.login-out {
  background-color: #f9bf89;
  width: 80%;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px 5px;
  text-align: center;
}
.login-out-icon {
  margin-right: 10px;
}
.active {
  background-color: #793737;
}
.user {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}
